@charset "UTF-8";

.mainOper{
    height:200px;
    width:200px;
    font-size: 40px;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	background:lightgrey;
}

h1 {
	background:grey;
	box-sizing: border-box;
	text-align: center;
}

.logout{
width:auto;
position: absolute;
border-radius: 20px;
right:0;
background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%)

}

* {box-sizing: border-box}
input[type=text], input[type=password] {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

/* Set a style for all buttons */
button {
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

.fit{
	 max-width: 100%;
     max-height: 100vh;
     margin: auto;
}


.btn {
	background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%)
}

.btn:hover {
	background-position: right center;
}

button:hover {
	opacity: 0.8;
}

.modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	padding-top: 60px;
	margin: 20px;
}

.modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto;
	border: 1px solid #888;
	width: 50%;
	padding: 2%;
}

.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@
-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)
}

to {
	-webkit-transform: scale(1)
}

}
@
keyframes animatezoom {
	from {transform: scale(0)
}

to {
	transform: scale(1)
}

}
.glowing-border {
	border: 2px solid #dadada;
	border-radius: 7px;
}

.glowing-border:focus {
	outline: none;
	border-color: #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
}

.alert {
	padding: 2%;
	background-color: #f44336;
	color: white;
	display:none;
	margin: 5%;
}

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}

.chkBalance {
	float :right;
	width:50%;
	height:280px;
}

.sec-container {
	background-color: #fefefe;
	margin: 5% auto 15% auto;
	border: 1px solid #888;
	width: 50%;
	padding: 2%;
}

.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

.tabcontent {
  
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}

.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}


.tab button.active {
  background-color: #ccc;
}